/* Global Styles */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --gray-text: #61636a;
  --darkgray-text: #484c50;
  --bluemain: #a0c2e3;
  --footer: #232323;
  --footer-light: #9c9c9c;
}

a {
  text-decoration: none;
}

html {
  font-size: 62.5%;
  font-family: "Poppins", sans-serif;
  scroll-behavior: smooth;
}

h1 {
  font-size: 3.2rem;
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  color: var(--darkgray-text);
}

h2 {
  font-size: 4.2rem;
  letter-spacing: 0.2rem;
  font-weight: 600;
  color: var(--darkgray-text);
  text-align: center;
}

h5 {
  font-size: 2.8rem;
  color: white;
  font-weight: 600;
  text-align: center;
}

/* Navbar */

header {
  position: fixed;
  width: 100%;
  z-index: 2;
  position: relative;
  overflow: hidden;
  display: flex;
  justify-content: space-around;
}

.nav-container {
  display: flex;
  flex-wrap: wrap;
}

.nav {
  background: white;
  padding: 0 3rem;
  min-height: 8vh;
  overflow: hidden;
}

.menu-items {
  list-style-type: none;
  display: flex;
  padding: 2.5rem 3.5rem;
}

.logo-container {
  padding: 2.5rem 0;
  margin-left: 10rem;
}

.menu-link {
  margin: 0rem 4rem;
  font-size: 2rem;
  position: relative;
}

.menu-link a {
  color: var(--gray-text);
}

.menu-link a::before {
  content: "";
  display: block;
  height: 0.4rem;
  background-color: var(--darkgray-text);
  position: absolute;
  width: 0%;
  top: 35px;
  transition: all ease-in-out 0.25s;
}

.menu-link a:hover::before {
  width: 100%;
}
.social-container {
  padding: 2.5rem 10rem;
  margin-right: 20rem;
  margin-left: 10rem;
  position: relative;
}

.social-container i {
  font-size: 2.4rem;
  padding: 0rem 1.5rem;
  color: var(--darkgray-text);
  transition: 0.2s;
}

.social-container i:hover {
  color: #4267b2;
}

.target {
  font-weight: 600;
}

.hamburger-label {
  font-size: 2.4rem;
  position: absolute;
  top: 2.5px;
  right: 5px;
  padding: 2.5rem;
  display: none;
}

#hamburger-menu {
  position: absolute;
  right: 8px;
  top: 5px;
  display: none;
}

/* Search bar with hover styles */

.search-container {
  position: absolute;
  top: 3.7rem;
  left: 85%;
  transform: translate(-50%, -50%);
  height: 4rem;
  background: var(--darkgray-text);
  border-radius: 4rem;
  padding: 1rem;
}

.text-search {
  font-size: 1.4rem;
  color: white;
  line-height: 2rem;
  float: left;
  padding: 0;
  outline: none;
  background: none;
  border: none;
  transition: 0.4s;
  width: 0;
}

.search-container:hover > .text-search {
  width: 18rem;
  padding: 0 0.6rem;
}

.button-search {
  color: white;
  float: right;
  height: 2rem;
  width: 2rem;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.4s;
  cursor: pointer;
}
.button-search i {
  font-size: 2rem;
}

/* Main section */

main {
  min-height: 80vh;
}

.title-container {
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 4rem;
}

hr {
  width: 21rem;
  margin-top: 0.5rem;
  height: 0.2rem;
}

.container {
  width: 50rem;
  display: flex;
  flex-direction: column;
  margin: 4rem auto;
  font-size: 1.4rem;
}

.img-container {
  border-radius: 4rem;
}

.container p {
  margin: 4rem auto;
  color: var(--darkgray-text);
}

.img-container img {
  border-radius: 4rem;
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.contact-btn {
  color: var(--darkgray-text);
  background: var(--bluemain);
  width: 35%;
  padding: 10px 30px;
  margin: auto;
  border: none;
  border-radius: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.2rem;
  transition: ease-in-out 0.3s;
  cursor: pointer;
}

.contact-btn:hover {
  color: white;
}

/* Footer */

footer {
  min-height: 35vh;
  background: var(--footer);
}

.footer-container {
  max-width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  overflow: hidden;
}

.input {
  display: flex;
}

.emailinput {
  padding: 6px 20px;
  border: none;
}

.email-btn {
  padding: 1rem;
  background-color: var(--bluemain);
  border: none;
  cursor: pointer;
}

.email-btn i {
  color: var(--darkgray-text);
  font-size: 1.4rem;
}

.news,
.footer-social,
.arrow {
  width: 40rem;
  height: 20rem;
  margin-top: 5rem;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.footertxt {
  color: var(--footer-light);
  font-size: 1.8rem;
}

.footer-social i {
  font-size: 2.4rem;
  padding-right: 1.5rem;
  color: white;
  transition: 0.2s;
  cursor: pointer;
}

.footer-social i:hover {
  color: #4267b2;
}

.arrow i {
  color: white;
  font-size: 4.2rem;
}

.arrow i:hover {
  color: var(--bluemain);
  animation-duration: 0.7s;
  animation-iteration-count: infinite;
  animation-name: arrow-animation;
}

@keyframes arrow-animation {
  0% {
    margin-bottom: 0rem;
  }
  100% {
    margin-bottom: 1.5rem;
  }
}

.copy {
  color: var(--footer-light);
  text-align: center;
  margin-top: 5rem;
}

/* MEDIA QUIRIES */

/* NAV */

@media screen and (max-width: 1600px) {
  .nav {
    min-height: 50vh;
    padding: 0rem 0rem;
  }

  header {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
  }

  .logo-container {
    margin: auto;
  }

  .menu-link {
    margin: 0 auto;
  }

  .nav-container {
    display: inline-block;
  }

  .menu-items {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0rem auto;
    padding: 0;
  }

  .social-container {
    margin: auto;
  }

  .social-container i {
    display: none;
  }

  .search-container {
    top: 90%;
    left: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .menu-link {
    margin: 2rem 0rem;
  }

  .text-search {
    width: 18rem;
  }
  .search-container:hover > .text-search {
    padding: 0 0rem;
  }

  .hamburger-label {
    display: block;
  }

  .nav,
  #hamburger-menu {
    display: none;
  }

  #hamburger-menu:checked ~ nav {
    display: block;
  }
}

/* MAIN CONTENT */

@media screen and (max-width: 550px) {
  .container {
    width: 35rem;
  }
  .contact-btn {
    width: 50%;
  }
}

/* Footer */

@media screen and (max-width: 750px) {
  .footer-container {
    flex-direction: column;
  }
}
