h1 {
  font-size: 4.2rem;
  letter-spacing: 0.2rem;
  font-weight: 600;
  color: var(--darkgray-text);
  text-align: center;
}

h2,
h3 {
  font-size: 2.8rem;
  color: white;
  font-weight: 600;
  text-align: center;
}

/* Main section */

main {
  min-height: 80vh;
}

.title-container {
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 4rem;
}

hr {
  width: 21rem;
  margin-top: 0.5rem;
  height: 0.2rem;
}

.container {
  width: 50rem;
  display: flex;
  flex-direction: column;
  margin: 4rem auto;
  font-size: 1.4rem;
}

.img-container {
  border-radius: 4rem;
}

.container p {
  margin: 4rem auto;
  color: var(--darkgray-text);
}

.img-container img {
  border-radius: 4rem;
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.contact-btn {
  color: var(--darkgray-text);
  background: var(--bluemain);
  width: 35%;
  padding: 10px 30px;
  margin: auto;
  border: none;
  border-radius: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.2rem;
  transition: ease-in-out 0.3s;
  cursor: pointer;
}

.contact-btn:hover {
  color: white;
}

/* MAIN CONTENT */

@media screen and (max-width: 550px) {
  .container {
    width: 35rem;
  }
  .contact-btn {
    width: 50%;
  }
}
