h1 {
  font-size: 4.2rem;
  letter-spacing: 0.2rem;
  font-weight: 600;
  color: var(--darkgray-text);
  text-align: center;
}

h2,
h3 {
  font-size: 2.8rem;
  color: white;
  font-weight: 600;
  text-align: center;
}

/* Main section */

main {
  min-height: 100vh;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 70%;
  margin: auto;
}

.small-container {
  width: 70%;
  display: flex;
  justify-content: flex-start;
  margin: 3rem auto;
}

.back-container {
  width: 6rem;
  height: 6rem;
  border-radius: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.back-container i {
  font-size: 3.2rem;
  color: var(--darkgray-text);
}

.back-container:hover {
  background: var(--bluemain);
}

.info-container {
  background: var(--bluemain);
  margin: 2rem 0;
  border-radius: 2rem;
  height: 4rem;
  width: 100%;
  z-index: 5;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.info p {
  font-size: 1.2rem;
  color: var(--darkgray-text);
}

.info i {
  font-size: 1.6rem;
  color: var(--darkgray-text);
  padding-right: 0.4rem;
}

.info {
  display: flex;
}

.img-container {
  width: 70%;
  height: 55rem;
  margin-bottom: 2rem;
  overflow: hidden;
}

.img-container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  background-position: center;
  border-radius: 2rem;
  cursor: pointer;
  transition: all 0.3s ease-out;
}

.img-container img:hover {
  transform: scale(1.1);
}

.image-show {
  background: rgba(0, 0, 0, 0.8);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  pointer-events: none;
  transition: 0.25s ease-out;
  z-index: 5;
}

.image-show.open {
  opacity: 1;
  pointer-events: all;
}

.max-img {
  position: absolute;
  height: 70%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0.5);
  transition: all 0.25s ease-out;
  object-fit: cover;
}

.max-img.open {
  transform: translate(-50%, -50%) scale(1);
}

.text-container {
  width: 70%;
}

.text-container p {
  margin-top: 2rem;
  font-size: 1.4rem;
  color: var(--darkgray-text);
}

.btn-txt {
  margin-bottom: 10rem;
}

.error {
  color: red;
  border: solid 2px red;
  padding: 1rem;
  background: rgba(255, 0, 0, 0.1);
  height: 20%;
}

.loader {
  border: 16px solid #c0c0c0;
  border-top: 16px solid var(--bluemain);
  border-radius: 50%;
  width: 120px;
  height: 120px;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/* MAIN CONTENT */

@media screen and (max-width: 685px) {
  h2 {
    font-size: 3.2rem;
  }
  .title-container {
    width: 70%;
  }

  .container {
    width: 100%;
  }
  .info p {
    font-size: 1rem;
  }
}

/* MAX IMAGE */

@media screen and (max-width: 1200px) {
  .max-img {
    width: 100%;
    height: 40rem;
  }
  .img-container {
    height: 25rem;
  }
}
