h1 {
  font-size: 4.2rem;
  letter-spacing: 0.2rem;
  font-weight: 600;
  color: var(--darkgray-text);
  text-align: center;
}

h2,
h3 {
  font-size: 2.8rem;
  color: white;
  font-weight: 600;
  text-align: center;
}

/* Main section */

main {
  min-height: 80vh;
}

.title-container {
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 4rem;
}

hr {
  width: 25rem;
  margin-top: 0.5rem;
  height: 0.2rem;
}

.formContainer {
  margin: 7rem auto;
  width: 50rem;
  height: 55rem;
  border-radius: 2rem;
  background: var(--bluemain);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 1px solid var(--darkgray-text);
}

.inputform {
  width: 37rem;
  background: white;
  margin: 0.5rem auto;
  padding: 0.8rem;
  font-size: 1.4rem;
  border: 1px solid var(--darkgray-text);
}

.contactlabel {
  display: flex;
  flex-direction: column;
  margin-top: 1rem;
  color: var(--darkgray-text);
  font-size: 1.4rem;
}

.form-error {
  color: red;
  font-size: 1.3rem;
  margin-top: 2px;
  display: none;
}

.formbtn {
  background: var(--bluemain);
  width: 37rem;
  border: none;
  padding: 1rem;
  color: var(--darkgray-text);
  margin: 2rem 0px;
  font-size: 1.4rem;
  cursor: pointer;
  border: 2px solid var(--darkgray-text);
  transition: 0.3s ease-in-out;
}

.formbtn:hover {
  color: white;
  border: 2px solid white;
}

.msg-box {
  margin: 1rem;
  font-size: 1.4rem;
  display: flex;
  flex-direction: column;
  width: 37rem;
  color: var(--darkgray-text);
}

.msg-box textarea {
  resize: none;
  height: 12rem;
}

/* MAIN CONTENT */

@media screen and (max-width: 600px) {
  .formContainer {
    width: 35rem;
  }

  .inputform,
  .msg-box,
  button {
    width: 30rem;
  }
}
